/* Header */
.large-header {
  position: relative;
  width: 100%;
  background: #333;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}
#large-header {

  /*background-image: url("http://www.marcoguglielmelli.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg");*/
}
.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #f9f1e9;
  text-align: center;

  top: 50%;
  left: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);
}
.demo-1 .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}
.main-title .thin {
  font-weight: 200;
}
h1, h2 {
  text-align: center;
}
h1 {
  padding-top: 9px;
}
h2 {
  padding-top: 10px;
}
nav {
  width: 100%;
  height: 50px;
  text-align: center;
  position: fixed;
  top:0%;
  z-index: 999;
  background-color:white;
}
nav .container {
  width: 100%;
  max-width: 768px;
}

nav div {
  display: inline-block;
  text-align: center;
  width: 18%;
  padding: 5px;
}
a:hover {
  color: black;
  text-decoration: none;
}
.section a:hover{
  text-decoration: none;
  color:#3E7CB4;
}
.section {
  width: 100%;
  margin-top: 20px;
}
.section .content {
  font-weight: 300;
  width: 100%;
  max-width: 768px;
  padding: 5px 0px 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  line-height: 1.45em;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.contact .content{
  text-align: center;
}
.content .list{
  list-style: none;
  padding: 0px;
}
.content ul li{
  display: inline;
  margin-left: 15px;
  margin-right: 15px;
}
.progressbar {
    position:absolute;
    top: 50px;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 5px;
    background-color: #2ecc71;
    background: #2ecc71 none repeat scroll 0% 0%;
    cursor: progress;
    border: none;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .main-title{
    width: 100%;
  }

  a img{
    width: 50px;
    height: auto;
  }
  h1 {
    font-size: 1.2em;
    letter-spacing: 0.2em;
    width:100%;
    line-height: 1.2em;
  }

  nav {
    height: auto;
  }

  .progressbar{
    display: none;
  }
  nav .container div {
    display: block;
    width: 100%;
    border-bottom: 1px solid black;
  }
  .section .content {
   padding-left: 10px;
   padding-right: 10px;
   text-align: left;
   font-size:1em;
   letter-spacing: 1px;
   padding-bottom: 0px;
   padding-top: 0px;
  }
  .section{
    margin: 0px;
  }
  .contact .content{
  text-align: center;
}
  .content .list{
    list-style: none;
    padding: 0px;
  }
  .content ul li{
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
  }
  .container{
    padding: 0px 5px 0px 5px;
  }
}

@media only screen and (max-width: 768px) {
  .demo-1 .main-title {
    font-size: 3em;
  }
}
